{% extends "base.html" %}

{% block body %}
<head>
    <meta name="viewport" content=
    "width=device-width, initial-scale=1">
  
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 0px solid #ddd;
        }

        table, th, td {
            border: 1px solid black;
        }
          
        th,
        td {
            text-align: left;
            padding: 8px;
        }
  
        /* width */        
        ::-webkit-scrollbar {
            width: 10px;
        }
  
        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
  
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
        }
  
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
          
        .scroll {
            display: block;
            border: 0px solid red;
            padding: 5px;
            margin-top: 5px;
            width: 100%;
            height: 300px;
            overflow-y: scroll;
        }

        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>

    <title>Flask-SocketIO Test</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        
        // https://softauthor.com/javascript-dynamic-html-select-drop-down/
        // https://www.javatpoint.com/how-to-create-dropdown-list-using-javascript
        var fileDescription
        function selectAttack() {

            // Clear text in scroll text element 
            // when user selects new .sh file from dropdown menu
            const outputElement = document.getElementById("testoutput");
            outputElement.innerHTML='';

            // Reset vulnerability and Success/Failure values 
            // when user selects new .sh file from dropdown menu
            const executionSuccessElement = document.getElementById("execution-success");
            executionSuccessElement.innerHTML='';
            const executionFailureElement = document.getElementById("execution-failure");
            executionFailureElement.innerHTML='';
            const attackTypeElement = document.getElementById("attack-type");
            attackTypeElement.innerHTML='';


            // Change title text and description text in card element
            // when user selects new .sh file from dropdown menu 
            const cardTitle = document.getElementById("card-title-3");  
            const cardText = document.getElementById("card-text-3");

            // Get the dictionary key selected by user from the dropdown menu,
            var mylist = document.getElementById("script-dropdown");
            document.getElementById("favourite").value = mylist.options[mylist.selectedIndex].text;

            // Get the values of the dictionary key selected by user
            var attackDescription = fileDescription[document.getElementById("favourite").value]
            
            // Append the file name as into the Card title
            cardTitle.innerHTML  = mylist.options[mylist.selectedIndex].text;
            // Append the attack description into the card text
            cardText.innerHTML  =  attackDescription[0];
            // Append the tag into the table row under the Vulnerability Column
            attackTypeElement.innerHTML = attackDescription[1];
            
        }

        function getStatuses() {

            // Initilaize and establish a socket session namespace with name of /statuses and execute code within the namespace on Python Flask Server
            var statusSocket = io.connect('http://' + document.domain + ':' + location.port + '/statuses' , { query: "file="}, {pingTimeout: 120000, pingInterval: 120000});
            statusSocket.pingInterval = 120000
            statusSocket.pingTimeout = 120000

            // console.log(socket)
            // console.log("Start-connection button pressed." + socket.disconnected);

            // Change the socket status (of statuses) diplayed to user from Off to On 
            var socketStatusElement = document.getElementById("statuses-socket-connection-status");
            socketStatusElement.innerHTML = 'Statuses Socket Connection status is: On'

            // Initialize socket listener within /statuses namespace to listen for events from the event emitter name of "statusoutput" from the Python Flask server
            statusSocket.on('statusoutput', function(msg) {
                // console.log(msg)
                // console.log(msg.number)

                // if client-browser receive the string "Ok." from Python Flask server /statuses namespace
                if (msg.number == "Ok."){    
                    // console.log(statusSocket)
                    
                    // Disconnect the socket connection
                    statusSocket.disconnect()
                    // Change the connection status displayed to the user 
                    var socketStatusElement = document.getElementById("statuses-socket-connection-status");
                    socketStatusElement.innerHTML = 'Statuses Socket Connection status is: Off'

                    // console.log("Socket status after success/ok is: " + socket.disconnected);
                    return
                }
                else if (msg.number == "Fail."){
                    // If client-browser receive the string "Fail." from Python Flask server /statuses namespace
                    // Disconnect the socket connection
                    statusSocket.disconnect()
                    
                    var socketStatusElement = document.getElementById("statuses-socket-connection-status");
                    socketStatusElement.innerHTML = 'Statuses Socket Connection status is: Off'
                    return
                }
                else{
                    statusesDictionary = msg.number
                    for (let key in statusesDictionary) {
                        // console.log(key)
                        // console.log(statusesDictionary[key])

                        // Keys within dictionary has their own respective javascript id hardcoded into this page with the same name
                        var statusesTableElement = document.getElementById(key);
                            
                        // Value pair of the repective keys are set as innerHTML values  
                        statusesTableElement.innerHTML = statusesDictionary[key]
                    }
                }
            });

            return
        }
        
        $(document).ready(function(){
            // getStatuses();

            $('#get-statuses').click(function(event) {
                event.preventDefault()
                // Initilaize and establish a socket session namespace with name of /statuses and execute code within the namespace on Python Flask Server
                var statusSocket = io.connect('http://' + document.domain + ':' + location.port + '/statuses' , { query: "file="}, {pingTimeout: 120000, pingInterval: 120000});
                statusSocket.pingInterval = 120000
                statusSocket.pingTimeout = 120000

                // console.log(socket)
                // console.log("Start-connection button pressed." + socket.disconnected);

                // Change the socket status (of statuses) diplayed to user from Off to On 
                var socketStatusElement = document.getElementById("statuses-socket-connection-status");
                socketStatusElement.innerHTML = 'Statuses Socket Connection status is: On'

                // Initialize socket listener within /statuses namespace to listen for events from the event emitter name of "statusoutput" from the Python Flask server
                statusSocket.on('statusoutput', function(msg) {
                    // console.log(msg)
                    // console.log(msg.number)

                    if (msg.number == "Ok."){
                        
                        // if client-browser receive the string "Ok." from Python Flask server SocketIO /statuses namespace
                        console.log(statusSocket)
                        // Disconnect the socket connection
                        statusSocket.disconnect()
                        // Change the connection status displayed to the user 
                        var socketStatusElement = document.getElementById("statuses-socket-connection-status");
                        socketStatusElement.innerHTML = 'Statuses Socket Connection status is: Off'

                        // console.log("Socket status after success/ok is: " + socket.disconnected);
                        return
                    }
                    else if (msg.number == "Fail."){
                        // If client-browser receive the string "Fail." from Python Flask server /statuses namespace
                        // Disconnect the socket connection
                        statusSocket.disconnect()
                        // Change the connection status displayed to the user 
                        var socketStatusElement = document.getElementById("statuses-socket-connection-status");
                        socketStatusElement.innerHTML = 'Statuses Socket Connection status is: Off'

                        return
                    }
                    else{
                        // statusDictionary contains a dictionary with the name of various services as the key and coressponding statuses as value pair
                        statusesDictionary = msg.number
                        for (let key in statusesDictionary) {
                            // console.log(key)
                            // console.log(statusesDictionary[key])

                            // Keys within dictionary has their own respective javascript id hardcoded into this page with the same name
                            var statusesTableElement = document.getElementById(key);
                            
                            // Value pair of the repective keys are set as innerHTML values  
                            statusesTableElement.innerHTML = statusesDictionary[key]

                        }
                    }
                });

                return

            });


            $('#execute-script').click(function(event) {
                event.preventDefault()
                
                // Get the file name submitted by the user with the id of "favourite" 
                var fileName = document.getElementById("favourite").value
                // console.log(fileName);
                
                // Initilaize and establish a socket session namespace with name of /test and execute code within the namespace 
                var socket = io.connect('http://' + document.domain + ':' + location.port + '/test' , { query: "file="+ fileName }, {pingTimeout: 120000, pingInterval: 120000, _timeout:60000});
                // set the status of various io.connect properties
                socket._timeout = setTimeout(function() {
                    socket.close();
                }, 60000);
                socket.pingInterval = 120000;
                socket.pingTimeout = 120000;
                socket.timeout = 60000
                
                // console.log("Start-connection button pressed." + socket.disconnected);
                // console.log(socket);
                
                // Change the socket status diplayed to user from Off to On 
                var socketStatusElement = document.getElementById("socket-connection-status");
                socketStatusElement.innerHTML = 'Socket Connection status is: On';

                // Initialize socket listener within /test namespace to listen for events from the event emitter name of "scriptoutput" from the Python Flask server
                socket.on('scriptoutput', function(msg) {

                    // "number" is the dictionary key and the msg.number gets the value of the number key
                    // in '/test' Python Flask Route
                    console.log("Received message: " + msg.number);
                    // console.log(socket)

                    // If browser recieves Success in the data, print checkmark to user
                    if (msg.number == "Success" || msg.number == "Ok."){
                        executionsuccessElement=document.getElementById("execution-success");
                        executionsuccessElement.innerHTML='&#10004;';

                        // and disconnect client from server
                        socket.disconnect();

                        // Change the connection status displayed to the user 
                        var socketStatusElement = document.getElementById("socket-connection-status");
                        socketStatusElement.innerHTML = 'Socket Connection status is: Off'
                        console.log("Socket status after success/ok is: " + socket.disconnected);

                        // Invoke getStatuses() function to get the statuses of various services after succeful execution of attack.
                        getStatuses();
                    }
                    else if (msg.number == "Fail.") {
                        // If browser recieves Fail in the data, print cross to user
                        
                        executionsuccessElement=document.getElementById("execution-failure");
                        executionsuccessElement.innerHTML='&#10060;';

                        // disconnect client from server
                        socket.disconnect();

                        // Change the connection status displayed to the user 
                        var socketStatusElement = document.getElementById("socket-connection-status");
                        socketStatusElement.innerHTML = 'Socket Connection status is: Off';
                        console.log("Socket status after success/ok is: " + socket.disconnected);

                    }

                    // Create a <p> element and append value of msg.number into <p> element 
                    let paragraphElement = document.createElement("p");
                    let paragraphText = document.createTextNode(msg.number);
                    paragraphElement.appendChild(paragraphText)
                    // Constantly append <p> element created to scrollable textbox with the id of "testoutput" 
                    testoutputElement=document.getElementById("testoutput");
                    testoutputElement.appendChild(paragraphElement);


                });

                // Disconnect socket when button with id of "stop-connection" is clicked
                $('#stop-connection').click(function(event) {
                    event.preventDefault();
                    socket.disconnect();
                    // Change the socket status diplayed to user from On to Off
                    var socketStatusElement = document.getElementById("socket-connection-status");
                    socketStatusElement.innerHTML = 'Socket Connection status is: Off'
                    console.log("stop-connection button pressed." + socket.disconnected);
                    console.log(socket)
                });

                
            });

            // Get a list of sh file from the file system through /getshfiles Python Flask Route
            // and append them into the the dropdown menu
            const scriptDropDown = document.getElementById("script-dropdown");
            $.ajax({
                url:"/getshfiles",
                success: function(resp) {
                    var ddl = document.getElementById('ddl-id');
                    fileDescription = resp
                    for (let key in resp) {
                        let option = document.createElement("option");
                        option.setAttribute('value', key);
                        scriptDropDown.appendChild(option);
                        let optionText = document.createTextNode(key);
                        option.appendChild(optionText);
                    }
                }
            });

        });

    </script>
    
</head>

<!--Page content-->
<div class="container mt-5">
    <h2 class="title">Statuses </h2>

    <div class="table-responsive">
        <table class="table">
            <tr>
                <th style="text-align:center;">Firewall Domain Profile is:  </th>
                <th id="domainprofilesettings" style="text-align:center;">-</th>

                <th style="text-align:center;">Windows Defender status is:  </th>
                <th id="antivirusenabled" style="text-align:center;">-</th>
            </tr> 
            <tr>
                <th style="text-align:center;">Firewall Private Profile is:  </th>
                <th id="privateprofilesettings" style="text-align:center;">-</th>
                
                <th style="text-align:center;">Kepserver status is:  </th>
                <th id="status" style="text-align:center;">-</th>
            </tr>
            <tr>
                <th style="text-align:center;">Firewall Public Profile is:  </th>
                <th id="publicprofilesettings" style="text-align:center;">-</th>
                <th style="text-align:center;">  </th>
                <th style="text-align:center;"> </th>
            </tr>   
        </table>
    </div>

    <div class="col-sm-6">
        <p id = "statuses-socket-connection-status"> Statuses Socket Connection status is: Off  </p>
    </div>
    
    <div id="accordion">
        <div class="card">
          <div class="card-header">
            <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                Retrieve statuses
            </a>
          </div>
          <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
            <div class="card-body">
                <h5 class="card-title" id = "card-title">Retrieve Statuses</h5>
                <p class="card-text" id = "card-text">To retrieve the status of various Windows programs and components shown in the table above, click on the Get-statuses button below</p>
                <button id ="get-statuses" class='btn btn-primary'>Get-statuses</button>
                <!-- <button id ="status-stop-connection" class='btn btn-primary'>Stop Status Socket Connection</button> -->
            </div>
          </div>
        </div>
    </div>
      

    <!-- <h2 class="title">Statuses </h2>
    <div class="row" >
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body" id = "card-body-3">
                    <h5 class="card-title" id = "card-title">Statuses</h5>
                    <p class="card-text" id = "card-text">This card is for getting status of various things</p>
                    <button id ="get-statuses" class='btn btn-primary'>Get-statuses</button>
                    <button id ="status-stop-connection" class='btn btn-primary'>Stop Status Socket Connection</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <p id = "statuses-socket-connection-status"> Statuses Socket Connection status is: Off  </p>
        </div>
    </div> -->

    <hr class="solid">

    <h2 class="title">Attack Selection </h2>
    <div class="row">

        <div class="col-sm-4">
            <form>  
                <b> Select script/attack to execute </b>  
                <select id = "script-dropdown"  onchange = "selectAttack()">  
                <option> ---Choose script--- </option>  
            </form>
        </div>

        <div class="col-sm-4">
            <p hidden> Your selected attack is:   
                <input hidden type = "text" id = "favourite" size = "20"> 
            </p>
        </div> 
        <div class="col-sm-4">
            <p id = "socket-connection-status"> Socket Connection Status is: Off  </p>
        </div> 

    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body" id = "card-body-3">
                    <h5 class="card-title" id = "card-title-3">File Name</h5>
                    <p class="card-text" id = "card-text-3">This paragraph would contain a description of the purpose of the selected shell script file</p>
                    <button id ="execute-script" class='btn btn-primary'>Start</button>
                    <button id ="stop-connection" class='btn btn-primary'>Stop Socket Connection</button>
                    <!-- <button id ="terminate-process" class='btn btn-primary'>Terminate Process</button> -->
                </div>
            </div>
        </div>
    </div>


    <h2 class="title">Attack summary </h2>

    <div class="table-responsive">
        <table class="table">

            <tr>
                <th>Vulnerability</th>
                <th style="text-align:center;">Success</th>
                <th style="text-align:center;">Failure</th>
            </tr>  

            <tr>
                <th id="attack-type">---- Choose an attack -----</th>
                <th style="text-align:center; font-size:150%;" id="execution-success"></th>
                <th style ="text-align:center; font-size:150%;"  id="execution-failure"></th>
            </tr>

        </table>
    </div>

    <div class="row">
        <p>
            Attack / Exploit Output: 
        </p>
        <div class="scroll col-sm-6" id = "testoutput" class="scroll">
        </div>
    </div>

</div>

{% endblock %}

    <!-- // $('#script1').click(function(event) {
        //     event.preventDefault()
        //     console.log("NYE");
        //     var socket = io.connect('http://' + document.domain + ':' + location.port + '/test' , { query: {name: "Test"} });
        //     //io.connect('http://' + document.domain + ':' + location.port + '/test');
        //     //receive details from server
        //     var numbers_received = [];
        //     socket.on('newnumber', function(msg) {
        //         console.log("Received message: " + msg.number);
        //         //maintain a list of ten numbers
        //         if (numbers_received.length >= 10){
        //             numbers_received.shift()
        //         }
        //         numbers_received.push(msg.number);
        //         numbers_string = '';
        //         for (var i = 0; i < numbers_received.length; i++){
        //             numbers_string = numbers_string + '<p>' + numbers_received[i].toString() + '</p>';
        //         }
        //         $('#log').html(numbers_string);
        //     });
        // });


        // $('#sshscript').click(function(event) {
        //     event.preventDefault()
        //     console.log("NYE2");
        //     var socket = io.connect('http://' + document.domain + ':' + location.port + '/ssh');
        //     //io.connect('http://' + document.domain + ':' + location.port + '/test');
        //     //receive details from server
        //     var numbers_received = [];
        //     socket.on('newnumber', function(msg) {
        //         console.log("Received message: " + msg.number);
        //         //maintain a list of ten numbers
        //         if (numbers_received.length >= 10){
        //             numbers_received.shift()
        //         }
        //         numbers_received.push(msg.number);
        //         numbers_string = '';
        //         for (var i = 0; i < numbers_received.length; i++){
        //             numbers_string = numbers_string + '<p>' + numbers_received[i].toString() + '</p>';
        //         }
        //         $('#sshlog').html(numbers_string);
        //     });
        // }); -->
