<head>
	<title>Home</title>
</head>

{% extends "base.html" %}

{% block body %}

<!--Page content-->
<div class="container mt-5">
    <h1>Which module would you like to use?</h1>

	<!-- Features section-->
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-6">
                <a href="/uploadfile"><div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div></a>
                <h2 class="h4 fw-bolder">File Upload</h2>
                <p>An interface to allow users to upload .exe or .sh files to the local filesystem and Upload .exe files to the Smart Meter PC.</p>
            </div>

            <div class="col-lg-6">
                <a href="/attackdashboard"><div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-play-fill"></i></div></a>
                <h2 class="h4 fw-bolder">Attack Dashboard Launch</h2>
                <p>A dashboard to demostrate attacks against the Smart Meter PC.</p>
            </div>

            <div class="col-lg-6">
                <a href="/remotefiledownload"><div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-download"></i></div></a>
                <h2 class="h4 fw-bolder">File Download</h2>
                <p>An interface to allow users to exfiltrate files from the Smart Meter PC.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
